*{
  margin: 0;
  padding: 0;
}
body{
  font-family: iransans;
  width: 100%;
  direction: rtl;
  text-align: right;
  line-height: 30px;
}
#all-data-todo{
  margin: 50px;
}
.edit-btn{
  margin:0 5px;
}
.table-bordered td,
.table-bordered th {
  border: none;
}
.todo-doing{
  text-decoration-line: line-through;
}